* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.navbar-wrapp {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1236px;
    margin: 0 auto;
}
.navbar {
  &__links {
    display: flex;
    margin-bottom: 0px;
  }
}

.main {
  margin-left: 200px;
}

ul li {
  list-style-type: none;
}

.nav {
  width: 100%;
  position: fixed;
  z-index: 10;
  clear: both;
}


ul#myLinks li a {
  width: 100%;
  display: block;
  color: black;
  font-size: 1em;
  padding: 1.5em 1.6em;
  transition: background 0.2s;
  text-decoration: none;
}

@media screen and (min-width: 900px) {
  .hamburger-container {
    display: none;
  }

 

  .logo {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .header__link {
    padding: 0;
    margin: 0;
  }
 

  
  .header__logo {
    display: none;
  }
  .logo {
    margin-left: 7%;
  }
}
.hamburger li {
  height: 5px;
  background: #fff;
  content: "";
  position: relative;
  transition: 0.25s ease-in-out;
}
.hidden {
  opacity: 0;
}
.rot45deg {
  transform: rotate(45deg);
  top: 10px !important;
}
.rot-45deg {
  transform: rotate(-45deg);
}
.hamburger {
  display: block;
}
.hamburger li:nth-child(1) {
  top: 0;
}
.hamburger li:nth-child(2) {
  top: 5px;
}
.hamburger li:nth-child(3) {
  top: 10px;
}
.hamburger-container {
  width: 38px;
  margin: 1.2em 1.6em;
  height: 30px;
  cursor: pointer;
  float: left;
}
button.btn.btn-primary {
  box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
  border-radius: 50px;
  background: #0285e4;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.navbar__button{
  width: 158px;
  height: 52px;
}