.features.js-slidein
    .features-column 
        .features__title OpenType features and Variable fonts           
        .features__description Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
        .features__row
            input#exampleFormControlInput1.form-control(type='email' placeholder='Enter Your Adress Email')
            button.btn.btn-primary.header__button(type='button') Subscribe
    img.features__img.desktop(src="images/iphone.png" alt="phone")
    img.features__img.phone(src="images/media-content.png" alt="phone")