.footer
    img(class="header__logo" alt="logo" src="images/Brand.png")
    .footer__wrapp-icons 
        a(href="")
            i.fab.fa-twitter
        a(href="")
            i.fab.fa-facebook-square
        a(href="")
            i.fab.fa-linkedin
    .footer__text Just type what's on your mind and we'll 