.header
    .header__header Lightning fast prototyping
    .header__text Most calendars are designed for teams. Slate is designed for freelancers who want a simple way to plan their schedule.
    button.btn.btn-primary.header__button(type='button') Try For Free
