nav.navbar-wrapp
      .hamburger-container
            ul.hamburger
                  li
                  li
                  li
      ul.navbar__links(id="myLinks") 
            li
                  img(class="header__logo" alt="logo" src="images/logo.svg")
            li    
                  a(href="#" class='header__link main' target='_blank') Home
            li    
                  a(href="#" class='header__link ' target='_blank') Product
            li
                  a(href="#" class='header__link ' target='_blank') About
            li
                  a(href="#contact" class='header__link contact' target='_blank') Contact
      button.btn.btn-primary.navbar__button(type='button') Sign Up

